@font-face {
  src: url(fonts/Helvetica.ttf);
  font-family: Helvetica;
}


body{
	background:url("img/fondo1.png") no-repeat;
	background-size: cover;
	color:white;
	font-family: Helvetica;
}

h1{
	color:#a81313;
}

h2{
	color:#a81313;
}

h4{
	color:#a81313;
}


footer{
	background-color: #3f3f3f!important;
	color:#d5d5d5;
	padding-top: 2rem;
}