@font-face {
  src: url(fonts/Helvetica.ttf);
  font-family: Helvetica;
}

body {
  font-family: Helvetica;
  color:white;
  font-size: 1.3 rem;
  background-color: black;
}

.offset:before{
	display:block;
	content:"";
	height:4rem;
	margin:-4rem;
}

/*-- Nav --*/

.navbar{
	text-transform: uppercase;
	font-weight: 750;
	font-size: .9rem;
	letter-spacing: .1rem;
	background: rgba(0,0,0,0.7)!important;

}


.navbar-brand img{
	height:3rem;
}

.navbar-nav li{
	padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
	color:white;
	padding-top:.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color:#a81313;
}

/*-- Fondo --*/
.home-inner{
	background-image: url(img/fondo1.png);
}
.caption{
	width:100%;
	max-width: 100%;
	position:absolute;
	top:72%;
	z-index:1;
	color:white;
	text-transform: uppercase;
}
.caption h1{
	font-size: 3.8rem;
	font-weight:600;
	letter-spacing: .3rem;
	text-shadow:.1rem .1rem .8rem black;
	padding-bottom:1rem; 
}
.caption h3{
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.6rem;
}
.caption span{
	color:#a81313;
}

.btn-lg{
	border-width: medium;
	border-radius:0;
	padding: .6rem 1.3rem;
	font-size:1.1rem;
	border-color:#a81313;
	color:#a81313;
}

.btn-lg:hover{
	border-color:#a81313;
	color:white;
	background-color: #a81313;
}

/*-- Informacion --*/

.jumbotron {
	margin-bottom: 0;
	padding: 2rem 0 5rem;
	border-radius: 0;
	background-color: black;
	color:white;
	z-index: -1;


}

h3.heading{
	font-size:1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1.3rem;
} 
.heading-underline{
	width: 13rem;
	height: .2rem;
	background-color: #a81313;
	margin:0 auto;
}

/*-- Footer --*/
footer{
	background-color: #3f3f3f!important;
	color:#d5d5d5;
	padding-top: 2rem;
}

/*-- Inicio --*/
.narrow{
	width:75%;
	margin: 1.5rem auto;
	padding-top: 2rem;
}
.narrow h1{
	font-size:2.4rem;
}
.btn-md {
	border-width:medium;
	border-radius:0;
	text-transform:uppercase;
	font-size:1.2rem;
	padding: .6rem 1.2rem;
	margin: 1rem;
	color:white;
	border-color:white;
}
.btn-md:hover{
	color:white;
	background-color: #a81313;
	border-color:#a81313;
}

.aloa div{
	z-index: -1;
	background-color: black;
	color:white;
}

/*-- Calculadora --*/
.fondoestatico{
  font-family: Helvetica;
  color:white;
  font-size: 1.3 rem;
  background-image:url(img/fondo1.png);
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
}
.formulario{
	color:white;
}